In [35]:
#Exo 1
#Les KPI sont des indicateurs cl√©s de performance

In [41]:
#Exo 2
import pandas as pd
import numpy as np

In [42]:
#Exo 3
df = pd.read_csv('./data/eval_data.csv')

In [43]:
#Exo 4
df.head(12)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

In [44]:
#Exo 5
df.shape

(4622, 6)

In [45]:
#Exo 6
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

In [46]:
#Exo 7
df.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [47]:
#Exo 8
df.item_name.mode()

0    Chicken Bowl
dtype: object

In [48]:
#Exo 9
df['quantity'].sum()

4972

In [53]:
#Exo 10
df['item_price'] = df['item_price'].fillna(0.0).replace('$', '')
df['item_price'] = pd.to_numeric(df['item_price'])
resultCA = (df['quantity'] * df['item_price']).sum()
resultCA

ValueError: Unable to parse string "$3.39 " at position 1

In [52]:
#Exo 11
resultMean = (df['quantity'] * df['item_price']).mean()
resultMean

TypeError: unsupported operand type(s) for +: 'float' and 'str'